$fz: 26px 18px 14px 2.5vw;
$fw: 800 400;
$headerH: 80px;

$color: (
    primary: #404349,
    secondary: #f4f4f4,
    tertiary: #fff,
    accent1: #FFAFAF,
    accent2: #5AD9AC,
    hover: #dddddd,
    text: #888,
    card: #222,
    bookbg: #eee,
    contact_b: #dadce0,
    slider: #24c98f,
    slider_now: #fff,
);

$device: (
    pc: 1430px,
    pcsm: 950px,
    tablet: 800px,
    mobile: 670px
);

$jc-status:(
    center: center,
    start:flex-start,
    end:flex-end,
    between:space-between,
    around:space-around,
    initial: initial,
);

$ai-status:(
    center: center,
    start:flex-start,
    end:flex-end,
    initial: initial,
);

$direction:(
    row: row,
    col: column,
);